@import "tailwindcss";

@theme {
  --color-safe: #16a34a;
  --color-caution: #ca8a04;
  --color-risky: #dc2626;
}

:root {
  --safe: #16a34a;
  --caution: #ca8a04;
  --risky: #dc2626;
}

body {
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
}
